{
  "extends": "../../.eslintrc",
  "rules": {
    // ********************************** Javascript rules **********************************
    "new-cap": [
      "error",
      {
        "newIsCap": true,
        "capIsNew": true,
        "capIsNewExceptions": [
          "Allow",
          "ArrayContains",
          "ArrayMaxSize",
          "ArrayMinSize",
          "ArrayNotContains",
          "ArrayNotEmpty",
          "ArrayUnique",
          "AuthGuard",
          "Body",
          "Column",
          "Contains",
          "Controller",
          "Delete",
          "Entity",
          "EntityRepository",
          "Equals",
          "Get",
          "GetSessionUser",
          "HttpCode",
          "Injectable",
          "InjectRepository",
          "IsAlpha",
          "IsAlphanumeric",
          "IsArray",
          "IsAscii",
          "IsBase64",
          "IsBoolean",
          "IsBooleanString",
          "IsByteLength",
          "IsCreditCard",
          "IsCurrency",
          "IsDate",
          "IsDateString",
          "IsDecimal",
          "IsDefined",
          "IsDivisibleBy",
          "IsEmail",
          "IsEmpty",
          "IsEnum",
          "IsFQDN",
          "IsFullWidth",
          "IsHalfWidth",
          "IsHexadecimal",
          "IsHexColor",
          "IsIn",
          "IsInstance",
          "IsInt",
          "IsIP",
          "IsISBN",
          "IsISIN",
          "IsISO31661Alpha2",
          "IsISO31661Alpha3",
          "IsISO8601",
          "IsJSON",
          "IsLowercase",
          "IsMilitaryTime",
          "IsMobilePhone",
          "IsMongoId",
          "IsMultibyte",
          "IsNegative",
          "IsNotEmpty",
          "IsNotIn",
          "IsNumber",
          "IsNumberString",
          "IsOptional",
          "IsPhoneNumber",
          "IsPort",
          "IsPositive",
          "IsString",
          "IsSurrogatePair",
          "IsUppercase",
          "IsUrl",
          "IsUUID",
          "IsVariableWidth",
          "Length",
          "Matches",
          "Max",
          "MaxDate",
          "MaxLength",
          "Min",
          "MinDate",
          "MinLength",
          "Module",
          "NotContains",
          "NotEquals",
          "Param",
          "PassportStrategy",
          "Patch",
          "Post",
          "PrimaryGeneratedColumn",
          "Put",
          "Query",
          "Req",
          "UseGuards",
          "UsePipes",
          "Validate",
          "ValidateIf",
          "ValidateNested",
          "ValidatePromise",
          "ValidatorConstraint"
        ]
      }
    ],
    // Node.js and CommonJS. These rules relate to code running in Node.js, or in browsers with CommonJS
    "callback-return": "error",
    "global-require": "error",
    "handle-callback-err": "error",
    "no-buffer-constructor": "error",
    "no-mixed-requires": "error",
    "no-new-require": "error",
    "no-path-concat": "error",
    "no-process-env": "error",
    "no-process-exit": "error",
    "no-restricted-modules": "error",
    "no-sync": "error"
  }
}
